# Cleaning 'Salaries'

In [70]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [71]:
engine = create_engine('mysql+pymysql://root:paugasol@35.246.57.187/NBA')

In [59]:
salaries_df = pd.read_sql('salaries',con=engine)

In [60]:
salaries_df.head()

,index,Full name,2018/19,2019/20,2020/21,2021/22,2022/23,2023/24,id
0,0,Stephen Curry,"$37,457,154","$40,231,758","$43,006,362","$45,780,966",$0,$0,201939
1,1,Russell Westbrook,"$35,665,000","$38,150,000","$40,600,000",,,$0,201566
2,2,Chris Paul,"$35,654,150","$38,506,482","$41,358,814","$44,211,146",$0,$0,101108
3,3,LeBron James,"$35,654,150","$37,436,858","$39,219,566","$41,002,274",$0,$0,2544
4,4,Blake Griffin,"$31,873,932","$34,234,964","$36,595,996","$38,957,028",$0,$0,201933

In [61]:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 9 columns):
index        485 non-null int64
Full name    485 non-null object
2018/19      485 non-null object
2019/20      485 non-null object
2020/21      485 non-null object
2021/22      485 non-null object
2022/23      485 non-null object
2023/24      485 non-null object
id           485 non-null int64
dtypes: int64(2), object(7)
memory usage: 34.2+ KB

## Dollars to int

In [62]:
salaries_df['2018/19'][0].strip('$').replace(',','')

'37457154'

In [63]:
i=0
for salary in salaries_df['2018/19']:
    salaries_df['2018/19'][i] = salary.strip('$').replace(',','')
    i += 1
salaries_df['2018/19']

/usr/local/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0      37457154
1      35665000
2      35654150
3      35654150
4      31873932
5      31214295
6      31000000
7      30570000
8      30560700
9      30521115
10     30000000
11     29230769
12     28928710
13     27977689
14     27928140
15     27739975
16     26837720
17     26386111
18     25759766
19     25467250
20     25467250
21     25467250
22     25434263
23     25434262
24     25434262
25     24434262
26     24256725
27     24157304
28     24157304
29     24119025
         ...
455       77250
456       77250
457       77250
458       77250
459       77250
460       77250
461       77250
462       77250
463       77250
464       77250
465       77250
466       77250
467       77250
468       77250
469       77250
470       77250
471       77250
472       77250
473       77250
474       77250
475       77250
476       77250
477       77250
478       77250
479       77250
480       77250
481       77250
482       76236
483       76236
484       47370
Name: 2018/19, Length: 485, dtype: object

In [64]:
salaries_df['2018/19'] = salaries_df['2018/19'].astype('int64')

In [66]:
i=0
for salary in salaries_df['2019/20']:
    salaries_df['2019/20'][i] = salary.strip('$').replace(',','')
    i += 1

/usr/local/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [67]:
i=0
for salary in salaries_df['2020/21']:
    salaries_df['2020/21'][i] = salary.strip('$').replace(',','')
    i += 1

/usr/local/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [68]:
i=0
for salary in salaries_df['2021/22']:
    salaries_df['2021/22'][i] = salary.strip('$').replace(',','')
    i += 1

/usr/local/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [72]:
i=0
for salary in salaries_df['2022/23']:
    salaries_df['2022/23'][i] = salary.strip('$').replace(',','')
    i += 1

/usr/local/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [73]:
i=0
for salary in salaries_df['2023/24']:
    salaries_df['2023/24'][i] = salary.strip('$').replace(',','')
    i += 1

/usr/local/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [80]:
salaries_df.tail()

,index,Full name,2018/19,2019/20,2020/21,2021/22,2022/23,2023/24,id
480,480,Jordan McRae,77250,0,0,0,0,0,203895
481,481,Devin Robinson,77250,0,0,0,0,0,1628421
482,482,Kobi Simmons,76236,0,0,0,0,0,1628424
483,483,Scotty Hopson,76236,0,0,0,0,0,203816
484,484,Emanuel Terry,47370,0,0,0,0,0,1629150

In [78]:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 9 columns):
index        485 non-null int64
Full name    485 non-null object
2018/19      485 non-null int64
2019/20      485 non-null object
2020/21      485 non-null object
2021/22      485 non-null object
2022/23      485 non-null object
2023/24      485 non-null object
id           485 non-null int64
dtypes: int64(3), object(6)
memory usage: 34.2+ KB

In [81]:
salaries_df['2019/20'] = salaries_df['2019/20'].replace('',0)

In [83]:
salaries_df['2019/20'] = salaries_df['2019/20'].astype('int64')

In [86]:
salaries_df['2020/21'] = salaries_df['2020/21'].replace('',0)
salaries_df['2020/21'] = salaries_df['2020/21'].astype('int64')

In [87]:
salaries_df['2021/22'] = salaries_df['2021/22'].replace('',0)
salaries_df['2021/22'] = salaries_df['2021/22'].astype('int64')

In [88]:
salaries_df['2022/23'] = salaries_df['2022/23'].replace('',0)
salaries_df['2022/23'] = salaries_df['2022/23'].astype('int64')

In [89]:
salaries_df['2023/24'] = salaries_df['2023/24'].replace('',0)
salaries_df['2023/24'] = salaries_df['2023/24'].astype('int64')

In [92]:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 9 columns):
index        485 non-null int64
Full name    485 non-null object
2018/19      485 non-null int64
2019/20      485 non-null int64
2020/21      485 non-null int64
2021/22      485 non-null int64
2022/23      485 non-null int64
2023/24      485 non-null int64
id           485 non-null int64
dtypes: int64(8), object(1)
memory usage: 34.2+ KB

In [93]:
salaries_df.to_sql('salaries', con=engine,if_exists='replace', index=True)

# Restructuring salaries

In [3]:
salaries_df = pd.read_sql('salaries',con=engine)

In [9]:
salaries_df.head()

,level_0,index,Full name,2018/19,2019/20,2020/21,2021/22,2022/23,2023/24,id
0,0,0,Stephen Curry,37457154,40231758,43006362,45780966,0,0,201939
1,1,1,Russell Westbrook,35665000,38150000,40600000,0,0,0,201566
2,2,2,Chris Paul,35654150,38506482,41358814,44211146,0,0,101108
3,3,3,LeBron James,35654150,37436858,39219566,41002274,0,0,2544
4,4,4,Blake Griffin,31873932,34234964,36595996,38957028,0,0,201933

In [10]:
salaries_df['level_0'] = salaries_df['id']

In [13]:
salaries_df.rename(columns={'level_0':'player_id'},inplace=True)

In [22]:
salaries_df.drop(columns=['Full name'],inplace=True)

In [23]:
salaries_df.head()

   player_id   2018/19   2019/20   2020/21   2021/22  2022/23  2023/24
0     201939  37457154  40231758  43006362  45780966        0        0
1     201566  35665000  38150000  40600000         0        0        0
2     101108  35654150  38506482  41358814  44211146        0        0
3       2544  35654150  37436858  39219566  41002274        0        0
4     201933  31873932  34234964  36595996  38957028        0        0

In [25]:
salaries_df['season'] = pd.Series()

In [27]:
salaries_df.head()

   player_id   2018/19   2019/20   2020/21   2021/22  2022/23  2023/24  season
0     201939  37457154  40231758  43006362  45780966        0        0     NaN
1     201566  35665000  38150000  40600000         0        0        0     NaN
2     101108  35654150  38506482  41358814  44211146        0        0     NaN
3       2544  35654150  37436858  39219566  41002274        0        0     NaN
4     201933  31873932  34234964  36595996  38957028        0        0     NaN

In [31]:
salaries_df = salaries_df[['player_id','season','2018/19','2019/20','2020/21','2021/22','2022/23','2023/24']]

In [48]:
salaries_stacked_df = pd.DataFrame(salaries_df.reset_index().set_index(['index', 'player_id']).stack())

In [53]:
salaries_stacked_df = salaries_stacked_df.reset_index().drop(columns='index')

In [62]:
salaries_stacked_df = salaries_stacked_df.rename(columns={'level_2':'season'})

In [64]:
salaries_stacked_df = salaries_stacked_df.rename(columns={0:'salary'})

In [67]:
salaries_stacked_df.head()

   player_id   season      salary
0     201939  2018/19  37457154.0
1     201939  2019/20  40231758.0
2     201939  2020/21  43006362.0
3     201939  2021/22  45780966.0
4     201939  2022/23         0.0

In [66]:
salaries_stacked_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2910 entries, 0 to 2909
Data columns (total 3 columns):
player_id    2910 non-null int64
season       2910 non-null object
salary       2910 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 68.3+ KB

In [69]:
salaries_stacked_df.to_sql('salaries', con=engine,if_exists='replace', index=True)

# Cleaning 'players'

In [72]:
players = pd.read_sql('players',con=engine)

In [73]:
players.head()

,index,PERSON_ID,DISPLAY_FIRST_LAST,BIRTHDATE,COUNTRY,HEIGHT,WEIGHT,POSITION,ROSTERSTATUS,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,0,201939,Stephen Curry,1988-03-14T00:00:00,USA,6-3,190,Guard,Active,2009.0,2018.0,2009,1,7
1,0,201566,Russell Westbrook,1988-11-12T00:00:00,USA,6-3,200,Guard,Active,2008.0,2018.0,2008,1,4
2,0,101108,Chris Paul,1985-05-06T00:00:00,USA,6-0,175,Guard,Active,2005.0,2018.0,2005,1,4
3,0,2544,LeBron James,1984-12-30T00:00:00,USA,6-8,250,Forward,Active,2003.0,2018.0,2003,1,1
4,0,201933,Blake Griffin,1989-03-16T00:00:00,USA,6-10,250,Forward,Active,2009.0,2018.0,2009,1,1

In [77]:
players.rename(columns={'PERSON_ID':'player_id','DISPLAY_FIRST_LAST':'full_name'}, inplace=True)

In [79]:
players = players.drop(columns='index')

In [81]:
players.rename(columns={'BIRTHDATE':'birthdate','COUNTRY':'country','HEIGHT':'height','WEIGHT':'weight','POSITION':'position','ROSTERSTATUS':'rosterstatus','FROM_YEAR':'from_year','TO_YEAR':'to_year','DRAFT_YEAR':'draft_year','DRAFT_ROUND':'draft_round','DRAFT_NUMBER':'draft_number'},inplace=True)

In [89]:
players['birthdate'] = players['birthdate'].astype('datetime64')

In [90]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 13 columns):
player_id       485 non-null int64
full_name       485 non-null object
birthdate       485 non-null datetime64[ns]
country         485 non-null object
height          485 non-null object
weight          485 non-null object
position        485 non-null object
rosterstatus    485 non-null object
from_year       483 non-null float64
to_year         483 non-null float64
draft_year      485 non-null object
draft_round     485 non-null object
draft_number    484 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(9)
memory usage: 49.3+ KB

In [102]:
players.head(20)

,player_id,full_name,birthdate,country,height,weight,position,rosterstatus,from_year,to_year,draft_year,draft_round,draft_number
0,201939,Stephen Curry,1988-03-14,USA,6-3,190,Guard,Active,2009.0,2018.0,2009,1,7
1,201566,Russell Westbrook,1988-11-12,USA,6-3,200,Guard,Active,2008.0,2018.0,2008,1,4
2,101108,Chris Paul,1985-05-06,USA,6-0,175,Guard,Active,2005.0,2018.0,2005,1,4
3,2544,LeBron James,1984-12-30,USA,6-8,250,Forward,Active,2003.0,2018.0,2003,1,1
4,201933,Blake Griffin,1989-03-16,USA,6-10,250,Forward,Active,2009.0,2018.0,2009,1,1
5,202330,Gordon Hayward,1990-03-23,USA,6-8,225,Forward,Active,2010.0,2018.0,2010,1,9
6,200768,Kyle Lowry,1986-03-25,USA,6-1,196,Guard,Active,2006.0,2018.0,2006,1,24
7,201935,James Harden,1989-08-26,USA,6-5,220,Guard,Active,2009.0,2018.0,2009,1,3
8,202331,Paul George,1990-05-02,USA,6-9,220,Forward,Active,2010.0,2018.0,2010,1,10
9,201144,Mike Conley,1987-10-11,USA,6-1,175,Guard,Active,2007.0,2018.0,2007,1,4
10,201142,Kevin Durant,1988-09-29,USA,6-9,240,Forward,Active,2007.0,2018.0,2007,1,2
11,200794,Paul Millsap,1985-02-10,USA,6-8,246,Forward,Active,2006.0,2018.0,2006,2,47
12,201143,Al Horford,1986-06-03,Dominican Republic,6-10,245,Center-Forward,Active,2007.0,2018.0,2007,1,3
13,203081,Damian Lillard,1990-07-15,USA,6-3,195,Guard,Active,2012.0,2018.0,2012,1,6
14,2546,Carmelo Anthony,1984-05-29,USA,,,,Inactive,2003.0,2018.0,2003,1,3
15,201942,DeMar DeRozan,1989-08-07,USA,6-7,220,Guard,Active,2009.0,2018.0,2009,1,9
16,2547,Chris Bosh,1984-03-24,USA,6-11,235,Forward,Active,2003.0,2016.0,2003,1,4
17,201950,Jrue Holiday,1990-06-12,USA,6-4,205,Guard,Active,2009.0,2018.0,2009,1,17
18,203468,CJ McCollum,1991-09-19,USA,6-3,190,Guard,Active,2013.0,2018.0,2013,1,10
19,203999,Nikola Jokic,1995-02-19,Serbia,7-0,250,Center,Active,2015.0,2018.0,2014,2,41

In [106]:
i=0
for height in players['height']:
    if height != '':
        players['height'][i] = players['height'][i].replace('-','.')
    i += 1

/usr/local/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [109]:
players.head()

,player_id,full_name,birthdate,country,height,weight,position,rosterstatus,from_year,to_year,draft_year,draft_round,draft_number
0,201939,Stephen Curry,1988-03-14,USA,6.3,190,Guard,Active,2009.0,2018.0,2009,1,7
1,201566,Russell Westbrook,1988-11-12,USA,6.3,200,Guard,Active,2008.0,2018.0,2008,1,4
2,101108,Chris Paul,1985-05-06,USA,6.0,175,Guard,Active,2005.0,2018.0,2005,1,4
3,2544,LeBron James,1984-12-30,USA,6.8,250,Forward,Active,2003.0,2018.0,2003,1,1
4,201933,Blake Griffin,1989-03-16,USA,6.10,250,Forward,Active,2009.0,2018.0,2009,1,1

In [112]:
players['height'] = pd.to_numeric(players['height'])

In [114]:
players['weight'] = pd.to_numeric(players['weight'])

In [117]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 13 columns):
player_id       485 non-null int64
full_name       485 non-null object
birthdate       485 non-null datetime64[ns]
country         485 non-null object
height          445 non-null float64
weight          445 non-null float64
position        485 non-null object
rosterstatus    485 non-null object
from_year       483 non-null float64
to_year         483 non-null float64
draft_year      485 non-null object
draft_round     485 non-null object
draft_number    484 non-null object
dtypes: datetime64[ns](1), float64(4), int64(1), object(7)
memory usage: 49.3+ KB

In [124]:
players['from_year'] = players['from_year'].fillna(0)

In [126]:
players['from_year'] = players['from_year'].astype('int64')

In [127]:
players['to_year'] = players['to_year'].fillna(0)

In [128]:
players['to_year'] = players['to_year'].astype('int64')

In [129]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 13 columns):
player_id       485 non-null int64
full_name       485 non-null object
birthdate       485 non-null datetime64[ns]
country         485 non-null object
height          445 non-null float64
weight          445 non-null float64
position        485 non-null object
rosterstatus    485 non-null object
from_year       485 non-null int64
to_year         485 non-null int64
draft_year      485 non-null object
draft_round     485 non-null object
draft_number    484 non-null object
dtypes: datetime64[ns](1), float64(2), int64(3), object(7)
memory usage: 49.3+ KB

In [137]:
players['draft_year'] = players['draft_year'].replace('Undrafted','0')

In [139]:
players['draft_year'] = players['draft_year'].astype('int64')

In [140]:
players['draft_round'] = players['draft_round'].replace('Undrafted','0')

In [141]:
players['draft_round'] = players['draft_round'].astype('int64')

In [142]:
players['draft_number'] = players['draft_number'].replace('Undrafted','0')

In [145]:
players['draft_number'] = players['draft_number'].replace('None','0')

In [164]:
players['draft_number'] = players['draft_number'].fillna(0)

In [165]:
players['draft_number'] = players['draft_number'].astype('int64')

In [166]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 13 columns):
player_id       485 non-null int64
full_name       485 non-null object
birthdate       485 non-null datetime64[ns]
country         485 non-null object
height          445 non-null float64
weight          445 non-null float64
position        485 non-null object
rosterstatus    485 non-null object
from_year       485 non-null int64
to_year         485 non-null int64
draft_year      485 non-null int64
draft_round     485 non-null int64
draft_number    485 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(4)
memory usage: 49.3+ KB

In [167]:
players.head()

,player_id,full_name,birthdate,country,height,weight,position,rosterstatus,from_year,to_year,draft_year,draft_round,draft_number
0,201939,Stephen Curry,1988-03-14,USA,6.3,190.0,Guard,Active,2009,2018,2009,1,7
1,201566,Russell Westbrook,1988-11-12,USA,6.3,200.0,Guard,Active,2008,2018,2008,1,4
2,101108,Chris Paul,1985-05-06,USA,6.0,175.0,Guard,Active,2005,2018,2005,1,4
3,2544,LeBron James,1984-12-30,USA,6.8,250.0,Forward,Active,2003,2018,2003,1,1
4,201933,Blake Griffin,1989-03-16,USA,6.1,250.0,Forward,Active,2009,2018,2009,1,1

In [168]:
players.to_sql('players', con=engine,if_exists='replace', index=True)

# Cleaning 'Teams'

In [169]:
teams = pd.read_sql('teams',con=engine)

In [172]:
teams = teams.drop(columns='index')

In [173]:
teams.head()

      TEAM_ID TEAM_NAME TEAM_ABBREVIATION TEAM_CODE      TEAM_CITY
0  1610612744  Warriors               GSW  warriors   Golden State
1  1610612760   Thunder               OKC   thunder  Oklahoma City
2  1610612745   Rockets               HOU   rockets        Houston
3  1610612747    Lakers               LAL    lakers    Los Angeles
4  1610612765   Pistons               DET   pistons        Detroit

In [176]:
teams.rename(columns={'TEAM_ID':'team_id','TEAM_NAME':'team_name','TEAM_ABBREVIATION':'team_abbreviation','TEAM_CODE':'team_code','TEAM_CITY':'team_city'},inplace=True)

In [177]:
teams.head()

      team_id team_name team_abbreviation team_code      team_city
0  1610612744  Warriors               GSW  warriors   Golden State
1  1610612760   Thunder               OKC   thunder  Oklahoma City
2  1610612745   Rockets               HOU   rockets        Houston
3  1610612747    Lakers               LAL    lakers    Los Angeles
4  1610612765   Pistons               DET   pistons        Detroit

In [178]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
team_id              32 non-null int64
team_name            32 non-null object
team_abbreviation    32 non-null object
team_code            32 non-null object
team_city            32 non-null object
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [184]:
teams = teams.drop(index=10).reset_index().drop(columns='index')

In [185]:
teams

       team_id      team_name team_abbreviation     team_code      team_city
0   1610612744       Warriors               GSW      warriors   Golden State
1   1610612760        Thunder               OKC       thunder  Oklahoma City
2   1610612745        Rockets               HOU       rockets        Houston
3   1610612747         Lakers               LAL        lakers    Los Angeles
4   1610612765        Pistons               DET       pistons        Detroit
5   1610612738        Celtics               BOS       celtics         Boston
6   1610612761        Raptors               TOR       raptors        Toronto
7   1610612763      Grizzlies               MEM     grizzlies        Memphis
8   1610612743        Nuggets               DEN       nuggets         Denver
9   1610612757  Trail Blazers               POR       blazers       Portland
10  1610612759          Spurs               SAS         spurs    San Antonio
11  1610612748           Heat               MIA          heat          Miami
12  1610612740       Pelicans               NOP      pelicans    New Orleans
13  1610612755          76ers               PHI        sixers   Philadelphia
14  1610612750   Timberwolves               MIN  timberwolves      Minnesota
15  1610612764        Wizards               WAS       wizards     Washington
16  1610612749          Bucks               MIL         bucks      Milwaukee
17  1610612739      Cavaliers               CLE     cavaliers      Cleveland
18  1610612758          Kings               SAC         kings     Sacramento
19  1610612766        Hornets               CHA       hornets      Charlotte
20  1610612752         Knicks               NYK        knicks       New York
21  1610612762           Jazz               UTA          jazz           Utah
22  1610612753          Magic               ORL         magic        Orlando
23  1610612746       Clippers               LAC      clippers             LA
24  1610612754         Pacers               IND        pacers        Indiana
25  1610612741          Bulls               CHI         bulls        Chicago
26  1610612751           Nets               BKN          nets       Brooklyn
27  1610612756           Suns               PHX          suns        Phoenix
28  1610612737          Hawks               ATL         hawks        Atlanta
29  1610612742      Mavericks               DAL     mavericks         Dallas
30  1610612755      Nationals               PHI        sixers       Syracuse

In [186]:
teams.to_sql('teams', con=engine,if_exists='replace', index=True)

# Cleaning 'performance'

In [187]:
perf = pd.read_sql('performance',con=engine)

In [190]:
perf = perf.drop(columns='index')

In [191]:
perf.head()

   PLAYER_ID        PLAYER_NAME TimeFrame   PTS   AST   REB    PIE
0     201566  Russell Westbrook   2018-19  22.9  10.5  11.1  0.161
1     101108         Chris Paul   2018-19  15.7   8.2   4.6  0.137
2       2544       LeBron James   2018-19  27.5   8.0   8.5  0.190
3     201933      Blake Griffin   2018-19  24.7   5.4   7.6  0.153
4     202330     Gordon Hayward   2018-19  10.8   3.4   4.3  0.108

In [192]:
perf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 7 columns):
PLAYER_ID      478 non-null int64
PLAYER_NAME    478 non-null object
TimeFrame      478 non-null object
PTS            478 non-null float64
AST            478 non-null float64
REB            478 non-null float64
PIE            452 non-null float64
dtypes: float64(4), int64(1), object(2)
memory usage: 26.2+ KB

In [193]:
perf.isna().sum()

PLAYER_ID       0
PLAYER_NAME     0
TimeFrame       0
PTS             0
AST             0
REB             0
PIE            26
dtype: int64

In [205]:
perf = perf[perf['PIE'].notna()]

In [206]:
perf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 452 entries, 0 to 477
Data columns (total 7 columns):
PLAYER_ID      452 non-null int64
PLAYER_NAME    452 non-null object
TimeFrame      452 non-null object
PTS            452 non-null float64
AST            452 non-null float64
REB            452 non-null float64
PIE            452 non-null float64
dtypes: float64(4), int64(1), object(2)
memory usage: 28.2+ KB

In [207]:
perf.head()

   PLAYER_ID        PLAYER_NAME TimeFrame   PTS   AST   REB    PIE
0     201566  Russell Westbrook   2018-19  22.9  10.5  11.1  0.161
1     101108         Chris Paul   2018-19  15.7   8.2   4.6  0.137
2       2544       LeBron James   2018-19  27.5   8.0   8.5  0.190
3     201933      Blake Griffin   2018-19  24.7   5.4   7.6  0.153
4     202330     Gordon Hayward   2018-19  10.8   3.4   4.3  0.108

In [208]:
perf.rename(columns={'PLAYER_ID':'player_id','PLAYER_NAME':'player_name','TimeFrame':'timeframe','PTS':'pts','AST':'ast','REB':'reb','PIE':'pie'},inplace=True)

In [209]:
perf.head()

   player_id        player_name timeframe   pts   ast   reb    pie
0     201566  Russell Westbrook   2018-19  22.9  10.5  11.1  0.161
1     101108         Chris Paul   2018-19  15.7   8.2   4.6  0.137
2       2544       LeBron James   2018-19  27.5   8.0   8.5  0.190
3     201933      Blake Griffin   2018-19  24.7   5.4   7.6  0.153
4     202330     Gordon Hayward   2018-19  10.8   3.4   4.3  0.108

In [228]:
i=0
for season in perf['timeframe']:
    perf['timeframe'][i] = season.replace('2018-19','2018/19')
    i+=1

In [229]:
perf[perf['player_name']=='Anthony Davis']['timeframe']

20    2018-19
Name: timeframe, dtype: object

In [237]:
perf['timeframe'] = perf['timeframe'].replace('2018-19','2018/19')

In [238]:
perf

     player_id             player_name timeframe   pts   ast   reb    pie
0       201566       Russell Westbrook   2018/19  22.9  10.5  11.1  0.161
1       101108              Chris Paul   2018/19  15.7   8.2   4.6  0.137
2         2544            LeBron James   2018/19  27.5   8.0   8.5  0.190
3       201933           Blake Griffin   2018/19  24.7   5.4   7.6  0.153
4       202330          Gordon Hayward   2018/19  10.8   3.4   4.3  0.108
5       200768              Kyle Lowry   2018/19  14.8   9.0   4.8  0.117
6       201935            James Harden   2018/19  35.9   7.6   6.4  0.195
7       202331             Paul George   2018/19  28.3   4.2   8.2  0.165
8       201144             Mike Conley   2018/19  20.7   6.4   3.4  0.150
9       201142            Kevin Durant   2018/19  27.4   5.6   6.7  0.164
10      200794            Paul Millsap   2018/19  13.0   1.9   7.2  0.119
11      201143              Al Horford   2018/19  13.0   4.1   6.7  0.129
12      203081          Damian Lillard   2018/19  26.2   6.6   4.5  0.155
13        2546         Carmelo Anthony   2018/19  13.4   0.5   5.4  0.074
15      201950            Jrue Holiday   2018/19  21.2   7.7   5.0  0.127
16      203468             CJ McCollum   2018/19  21.3   2.9   4.0  0.105
17      203999            Nikola Jokic   2018/19  20.3   7.5  10.7  0.189
18      203954             Joel Embiid   2018/19  27.3   3.5  13.6  0.194
19      203952          Andrew Wiggins   2018/19  17.5   2.3   4.8  0.074
20      203076           Anthony Davis   2018/19  26.2   3.9  12.0  0.197
21      203083          Andre Drummond   2018/19  17.4   1.3  15.4  0.157
22      203078            Bradley Beal   2018/19  26.0   5.6   5.2  0.129
23      202355        Hassan Whiteside   2018/19  12.5   0.8  11.9  0.156
24        2730           Dwight Howard   2018/19  12.8   0.4   9.2  0.111
25      203507   Giannis Antetokounmpo   2018/19  27.5   6.0  12.7  0.216
26      203500            Steven Adams   2018/19  14.3   1.6   9.6  0.106
27      201567              Kevin Love   2018/19  18.3   2.3  11.2  0.156
28      201188              Marc Gasol   2018/19  14.4   4.5   8.2  0.135
29      202718        Chandler Parsons   2018/19   4.7   1.4   2.4  0.042
30      203084         Harrison Barnes   2018/19  16.9   1.5   4.8  0.091
..         ...                     ...       ...   ...   ...   ...    ...
444    1626210           Alan Williams   2018/19   3.5   0.8   4.3  0.265
445    1629147             Joe Chealey   2018/19   2.0   1.0   0.0  0.000
446    1627755              Tyler Ulis   2018/19   0.0   0.0   0.0  0.000
447     204066            John Holland   2018/19   0.0   0.0   0.0  0.000
448    1627883             Jalen Jones   2018/19   5.1   0.4   2.1  0.054
449    1629133             Daryl Macon   2018/19   1.0   0.0   0.0  0.195
450    1629152  DeVaughn Akoon-Purcell   2018/19   1.0   0.9   0.6  0.053
452    1629118            Thomas Welsh   2018/19   1.6   0.5   0.4  0.106
453    1627814              Damion Lee   2018/19   4.3   0.2   1.7  0.062
454    1629053         Vincent Edwards   2018/19   1.5   0.0   1.0  0.023
455    1629116           Angel Delgado   2018/19   3.0   0.0   4.0  0.030
456    1628405        Johnathan Motley   2018/19   4.9   0.5   2.4  0.101
457    1627936             Alex Caruso   2018/19   5.8   1.3   1.6  0.108
458     203474             DJ Stephens   2018/19   2.0   0.0   0.0  0.051
460    1629139           Yuta Watanabe   2018/19   2.9   0.4   1.9  0.069
461    1629130         Duncan Robinson   2018/19   2.3   0.1   1.0  0.064
462    1628537           Jaylen Morris   2018/19   2.5   1.0   1.3  0.109
463    1629123           Jared Terrell   2018/19   2.1   0.7   0.4 -0.004
464    1628443            Kadeem Allen   2018/19   9.5   3.8   2.6  0.093
465    1628439            Isaiah Hicks   2018/19   1.0   1.0   0.0  0.056
466    1628505            Troy Caupain   2018/19   2.7   1.0   0.7  0.286
467    1628518         Amile Jefferson   2018/19   1.0   0.0   1.3  0.075
468    1629003            Shake Milton   2018/19   4.2   1.0   1.5  0.081
470    1628994             George King   2018/19   0.0   0.0   1.0  0.032
471    1628449           Chris Boucher   2018/19   3.0   0.0   1.7  0.111
472    1628463         Tyler Cavanaugh   2018/19   0.8   0.0   0.5  0.067
473     203895            Jordan McRae   2018/19   4.6   0.6   1.1  0.095
474    1628421          Devin Robinson   2018/19   4.8   0.5   1.8  0.127
475    1628424            Kobi Simmons   2018/19   0.0   0.0   0.0  0.000
477    1629150           Emanuel Terry   2018/19   3.3   0.7   2.3  0.116

[452 rows x 7 columns]

In [239]:
perf.to_sql('performance', con=engine,if_exists='replace', index=True)