# Cleaning 'Salaries'

In [52]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [28]:
engine = create_engine('mysql+pymysql://root:paugasol@35.246.57.187/NBA')

In [59]:
salaries_df = pd.read_sql('salaries',con=engine)

In [60]:
salaries_df.head()

,index,Full name,2018/19,2019/20,2020/21,2021/22,2022/23,2023/24,id
0,0,Stephen Curry,"$37,457,154","$40,231,758","$43,006,362","$45,780,966",$0,$0,201939
1,1,Russell Westbrook,"$35,665,000","$38,150,000","$40,600,000",,,$0,201566
2,2,Chris Paul,"$35,654,150","$38,506,482","$41,358,814","$44,211,146",$0,$0,101108
3,3,LeBron James,"$35,654,150","$37,436,858","$39,219,566","$41,002,274",$0,$0,2544
4,4,Blake Griffin,"$31,873,932","$34,234,964","$36,595,996","$38,957,028",$0,$0,201933

In [61]:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 9 columns):
index        485 non-null int64
Full name    485 non-null object
2018/19      485 non-null object
2019/20      485 non-null object
2020/21      485 non-null object
2021/22      485 non-null object
2022/23      485 non-null object
2023/24      485 non-null object
id           485 non-null int64
dtypes: int64(2), object(7)
memory usage: 34.2+ KB

## Dollars to int

In [62]:
salaries_df['2018/19'][0].strip('$').replace(',','')

'37457154'

In [63]:
i=0
for salary in salaries_df['2018/19']:
    salaries_df['2018/19'][i] = salary.strip('$').replace(',','')
    i += 1
salaries_df['2018/19']

/usr/local/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0      37457154
1      35665000
2      35654150
3      35654150
4      31873932
5      31214295
6      31000000
7      30570000
8      30560700
9      30521115
10     30000000
11     29230769
12     28928710
13     27977689
14     27928140
15     27739975
16     26837720
17     26386111
18     25759766
19     25467250
20     25467250
21     25467250
22     25434263
23     25434262
24     25434262
25     24434262
26     24256725
27     24157304
28     24157304
29     24119025
         ...
455       77250
456       77250
457       77250
458       77250
459       77250
460       77250
461       77250
462       77250
463       77250
464       77250
465       77250
466       77250
467       77250
468       77250
469       77250
470       77250
471       77250
472       77250
473       77250
474       77250
475       77250
476       77250
477       77250
478       77250
479       77250
480       77250
481       77250
482       76236
483       76236
484       47370
Name: 2018/19, Length: 485, dtype: object

In [64]:
salaries_df['2018/19'] = salaries_df['2018/19'].astype('int64')

In [66]:
i=0
for salary in salaries_df['2019/20']:
    salaries_df['2019/20'][i] = salary.strip('$').replace(',','')
    i += 1

/usr/local/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [67]:
i=0
for salary in salaries_df['2020/21']:
    salaries_df['2020/21'][i] = salary.strip('$').replace(',','')
    i += 1

/usr/local/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [68]:
i=0
for salary in salaries_df['2021/22']:
    salaries_df['2021/22'][i] = salary.strip('$').replace(',','')
    i += 1

/usr/local/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [72]:
i=0
for salary in salaries_df['2022/23']:
    salaries_df['2022/23'][i] = salary.strip('$').replace(',','')
    i += 1

/usr/local/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [73]:
i=0
for salary in salaries_df['2023/24']:
    salaries_df['2023/24'][i] = salary.strip('$').replace(',','')
    i += 1

/usr/local/Cellar/ipython/7.2.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [80]:
salaries_df.tail()

,index,Full name,2018/19,2019/20,2020/21,2021/22,2022/23,2023/24,id
480,480,Jordan McRae,77250,0,0,0,0,0,203895
481,481,Devin Robinson,77250,0,0,0,0,0,1628421
482,482,Kobi Simmons,76236,0,0,0,0,0,1628424
483,483,Scotty Hopson,76236,0,0,0,0,0,203816
484,484,Emanuel Terry,47370,0,0,0,0,0,1629150

In [78]:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 9 columns):
index        485 non-null int64
Full name    485 non-null object
2018/19      485 non-null int64
2019/20      485 non-null object
2020/21      485 non-null object
2021/22      485 non-null object
2022/23      485 non-null object
2023/24      485 non-null object
id           485 non-null int64
dtypes: int64(3), object(6)
memory usage: 34.2+ KB

In [81]:
salaries_df['2019/20'] = salaries_df['2019/20'].replace('',0)

In [83]:
salaries_df['2019/20'] = salaries_df['2019/20'].astype('int64')

In [86]:
salaries_df['2020/21'] = salaries_df['2020/21'].replace('',0)
salaries_df['2020/21'] = salaries_df['2020/21'].astype('int64')

In [87]:
salaries_df['2021/22'] = salaries_df['2021/22'].replace('',0)
salaries_df['2021/22'] = salaries_df['2021/22'].astype('int64')

In [88]:
salaries_df['2022/23'] = salaries_df['2022/23'].replace('',0)
salaries_df['2022/23'] = salaries_df['2022/23'].astype('int64')

In [89]:
salaries_df['2023/24'] = salaries_df['2023/24'].replace('',0)
salaries_df['2023/24'] = salaries_df['2023/24'].astype('int64')

In [92]:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 9 columns):
index        485 non-null int64
Full name    485 non-null object
2018/19      485 non-null int64
2019/20      485 non-null int64
2020/21      485 non-null int64
2021/22      485 non-null int64
2022/23      485 non-null int64
2023/24      485 non-null int64
id           485 non-null int64
dtypes: int64(8), object(1)
memory usage: 34.2+ KB

In [93]:
salaries_df.to_sql('salaries', con=engine,if_exists='replace', index=True)