In [1]:
import pandas as pd
from sqlalchemy import create_engine
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.endpoints import leaguedashplayerbiostats
from nba_api.stats.static import teams
from nba_api.stats.static import players

In [6]:
engine = create_engine('mysql+pymysql://root:paugasol@35.246.57.187/NBA')
df_players_salaries = pd.read_sql('players',con=engine)

In [7]:
players_id= list(df_players_salaries['player_id'])

In [35]:
players_id[20]

203954

In [22]:
commonplayerinfo.CommonPlayerInfo(f'{player}').get_data_frames()[0]

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,BIRTHDATE,SCHOOL,COUNTRY,LAST_AFFILIATION,...,TEAM_CITY,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,201960,DeMarre,Carroll,DeMarre Carroll,"Carroll, DeMarre",D. Carroll,1986-07-27T00:00:00,Missouri,USA,Missouri/USA,...,Brooklyn,demarre_carroll,2009,2018,Y,Y,Y,2009,1,27

In [38]:
player_info = pd.DataFrame()
for player in players_id[21:31]:
    print(player)
    df = commonplayerinfo.CommonPlayerInfo(f'{player}').get_data_frames()[0]
    print(df)
    player_info = player_info.append(df)
    print(player_info)

203952
   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
0     203952     Andrew   Wiggins     Andrew Wiggins          Wiggins, Andrew

  DISPLAY_FI_LAST            BIRTHDATE  SCHOOL COUNTRY LAST_AFFILIATION  ...  \
0      A. Wiggins  1995-02-23T00:00:00  Kansas  Canada    Kansas/Canada  ...

   TEAM_CITY      PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  \
0  Minnesota  andrew_wiggins       2014    2018            N        Y

   GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0                  Y       2014           1            1

[1 rows x 30 columns]
   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
0     203952     Andrew   Wiggins     Andrew Wiggins          Wiggins, Andrew

  DISPLAY_FI_LAST            BIRTHDATE  SCHOOL COUNTRY LAST_AFFILIATION  ...  \
0      A. Wiggins  1995-02-23T00:00:00  Kansas  Canada    Kansas/Canada  ...

   TEAM_CITY      PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  \
0  Minnesota  andrew_wiggins       2014    2018            N        Y

   GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0                  Y       2014           1            1

[1 rows x 30 columns]
203076
   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
0     203076    Anthony     Davis      Anthony Davis           Davis, Anthony

  DISPLAY_FI_LAST            BIRTHDATE    SCHOOL COUNTRY LAST_AFFILIATION  \
0        A. Davis  1993-03-11T00:00:00  Kentucky     USA     Kentucky/USA

   ...    TEAM_CITY     PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  \
0  ...  New Orleans  anthony_davis       2012    2018            N        Y

   GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0                  Y       2012           1            1

[1 rows x 30 columns]
   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
0     203952     Andrew   Wiggins     Andrew Wiggins          Wiggins, Andrew
0     203076    Anthony     Davis      Anthony Davis           Davis, Anthony

  DISPLAY_FI_LAST            BIRTHDATE    SCHOOL COUNTRY LAST_AFFILIATION  \
0      A. Wiggins  1995-02-23T00:00:00    Kansas  Canada    Kansas/Canada
0        A. Davis  1993-03-11T00:00:00  Kentucky     USA     Kentucky/USA

   ...    TEAM_CITY      PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  \
0  ...    Minnesota  andrew_wiggins       2014    2018            N        Y
0  ...  New Orleans   anthony_davis       2012    2018            N        Y

   GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0                  Y       2014           1            1
0                  Y       2012           1            1

[2 rows x 30 columns]
203083
   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
0     203083      Andre  Drummond     Andre Drummond          Drummond, Andre

  DISPLAY_FI_LAST            BIRTHDATE       SCHOOL COUNTRY LAST_AFFILIATION  \
0     A. Drummond  1993-08-10T00:00:00  Connecticut     USA  Connecticut/USA

   ... TEAM_CITY      PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  \
0  ...   Detroit  andre_drummond       2012    2018            N        Y

   GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0                  Y       2012           1            9

[1 rows x 30 columns]
   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
0     203952     Andrew   Wiggins     Andrew Wiggins          Wiggins, Andrew
0     203076    Anthony     Davis      Anthony Davis           Davis, Anthony
0     203083      Andre  Drummond     Andre Drummond          Drummond, Andre

  DISPLAY_FI_LAST            BIRTHDATE       SCHOOL COUNTRY LAST_AFFILIATION  \
0      A. Wiggins  1995-02-23T00:00:00       Kansas  Canada    Kansas/Canada
0        A. Davis  1993-03-11T00:00:00     Kentucky     USA     Kentucky/USA
0     A. Drummond  1993-08-10T00:00:00  Connecticut     USA  Connecticut/USA

   ...    TEAM_CITY      PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  \
0  ...    Minnesota  andrew_wiggins       2014    2018            N        Y
0  ...  New Orleans   anthony_davis       2012    2018            N        Y
0  ...      Detroit  andre_drummond       2012    2018            N        Y

   GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0                  Y       2014           1            1
0                  Y       2012           1            1
0                  Y       2012           1            9

[3 rows x 30 columns]
203078
   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
0     203078    Bradley      Beal       Bradley Beal            Beal, Bradley

  DISPLAY_FI_LAST            BIRTHDATE   SCHOOL COUNTRY LAST_AFFILIATION  ...  \
0         B. Beal  1993-06-28T00:00:00  Florida     USA      Florida/USA  ...

    TEAM_CITY    PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  \
0  Washington  bradley_beal       2012    2018            N        Y

   GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0                  Y       2012           1            3

[1 rows x 30 columns]
   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
0     203952     Andrew   Wiggins     Andrew Wiggins          Wiggins, Andrew
0     203076    Anthony     Davis      Anthony Davis           Davis, Anthony
0     203083      Andre  Drummond     Andre Drummond          Drummond, Andre
0     203078    Bradley      Beal       Bradley Beal            Beal, Bradley

  DISPLAY_FI_LAST            BIRTHDATE       SCHOOL COUNTRY LAST_AFFILIATION  \
0      A. Wiggins  1995-02-23T00:00:00       Kansas  Canada    Kansas/Canada
0        A. Davis  1993-03-11T00:00:00     Kentucky     USA     Kentucky/USA
0     A. Drummond  1993-08-10T00:00:00  Connecticut     USA  Connecticut/USA
0         B. Beal  1993-06-28T00:00:00      Florida     USA      Florida/USA

   ...    TEAM_CITY      PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  \
0  ...    Minnesota  andrew_wiggins       2014    2018            N        Y
0  ...  New Orleans   anthony_davis       2012    2018            N        Y
0  ...      Detroit  andre_drummond       2012    2018            N        Y
0  ...   Washington    bradley_beal       2012    2018            N        Y

   GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0                  Y       2014           1            1
0                  Y       2012           1            1
0                  Y       2012           1            9
0                  Y       2012           1            3

[4 rows x 30 columns]
202355
   PERSON_ID FIRST_NAME  LAST_NAME DISPLAY_FIRST_LAST  \
0     202355     Hassan  Whiteside   Hassan Whiteside

  DISPLAY_LAST_COMMA_FIRST DISPLAY_FI_LAST            BIRTHDATE    SCHOOL  \
0        Whiteside, Hassan    H. Whiteside  1989-06-13T00:00:00  Marshall

  COUNTRY LAST_AFFILIATION  ... TEAM_CITY        PLAYERCODE  FROM_YEAR  \
0     USA  MarshallUSA/USA  ...     Miami  hassan_whiteside       2010

  TO_YEAR DLEAGUE_FLAG NBA_FLAG  GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND  \
0    2018            Y        Y                  Y       2010           2

  DRAFT_NUMBER
0           33

[1 rows x 30 columns]
   PERSON_ID FIRST_NAME  LAST_NAME DISPLAY_FIRST_LAST  \
0     203952     Andrew    Wiggins     Andrew Wiggins
0     203076    Anthony      Davis      Anthony Davis
0     203083      Andre   Drummond     Andre Drummond
0     203078    Bradley       Beal       Bradley Beal
0     202355     Hassan  Whiteside   Hassan Whiteside

  DISPLAY_LAST_COMMA_FIRST DISPLAY_FI_LAST            BIRTHDATE       SCHOOL  \
0          Wiggins, Andrew      A. Wiggins  1995-02-23T00:00:00       Kansas
0           Davis, Anthony        A. Davis  1993-03-11T00:00:00     Kentucky
0          Drummond, Andre     A. Drummond  1993-08-10T00:00:00  Connecticut
0            Beal, Bradley         B. Beal  1993-06-28T00:00:00      Florida
0        Whiteside, Hassan    H. Whiteside  1989-06-13T00:00:00     Marshall

  COUNTRY LAST_AFFILIATION  ...    TEAM_CITY        PLAYERCODE  FROM_YEAR  \
0  Canada    Kansas/Canada  ...    Minnesota    andrew_wiggins       2014
0     USA     Kentucky/USA  ...  New Orleans     anthony_davis       2012
0     USA  Connecticut/USA  ...      Detroit    andre_drummond       2012
0     USA      Florida/USA  ...   Washington      bradley_beal       2012
0     USA  MarshallUSA/USA  ...        Miami  hassan_whiteside       2010

  TO_YEAR DLEAGUE_FLAG NBA_FLAG  GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND  \
0    2018            N        Y                  Y       2014           1
0    2018            N        Y                  Y       2012           1
0    2018            N        Y                  Y       2012           1
0    2018            N        Y                  Y       2012           1
0    2018            Y        Y                  Y       2010           2

  DRAFT_NUMBER
0            1
0            1
0            9
0            3
0           33

[5 rows x 30 columns]
2730

   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
0       2730     Dwight    Howard      Dwight Howard           Howard, Dwight

  DISPLAY_FI_LAST            BIRTHDATE                             SCHOOL  \
0       D. Howard  1985-12-08T00:00:00  SW Atlanta Christian Academy (GA)

  COUNTRY                       LAST_AFFILIATION  ...   TEAM_CITY  \
0     USA  SW Atlanta Christian Academy (GA)/USA  ...  Washington

      PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  GAMES_PLAYED_FLAG  \
0  dwight_howard       2004    2018            N        Y                  Y

  DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0       2004           1            1

[1 rows x 30 columns]
   PERSON_ID FIRST_NAME  LAST_NAME DISPLAY_FIRST_LAST  \
0     203952     Andrew    Wiggins     Andrew Wiggins
0     203076    Anthony      Davis      Anthony Davis
0     203083      Andre   Drummond     Andre Drummond
0     203078    Bradley       Beal       Bradley Beal
0     202355     Hassan  Whiteside   Hassan Whiteside
0       2730     Dwight     Howard      Dwight Howard

  DISPLAY_LAST_COMMA_FIRST DISPLAY_FI_LAST            BIRTHDATE  \
0          Wiggins, Andrew      A. Wiggins  1995-02-23T00:00:00
0           Davis, Anthony        A. Davis  1993-03-11T00:00:00
0          Drummond, Andre     A. Drummond  1993-08-10T00:00:00
0            Beal, Bradley         B. Beal  1993-06-28T00:00:00
0        Whiteside, Hassan    H. Whiteside  1989-06-13T00:00:00
0           Howard, Dwight       D. Howard  1985-12-08T00:00:00

                              SCHOOL COUNTRY  \
0                             Kansas  Canada
0                           Kentucky     USA
0                        Connecticut     USA
0                            Florida     USA
0                           Marshall     USA
0  SW Atlanta Christian Academy (GA)     USA

                        LAST_AFFILIATION  ...    TEAM_CITY        PLAYERCODE  \
0                          Kansas/Canada  ...    Minnesota    andrew_wiggins
0                           Kentucky/USA  ...  New Orleans     anthony_davis
0                        Connecticut/USA  ...      Detroit    andre_drummond
0                            Florida/USA  ...   Washington      bradley_beal
0                        MarshallUSA/USA  ...        Miami  hassan_whiteside
0  SW Atlanta Christian Academy (GA)/USA  ...   Washington     dwight_howard

   FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  GAMES_PLAYED_FLAG DRAFT_YEAR  \
0       2014    2018            N        Y                  Y       2014
0       2012    2018            N        Y                  Y       2012
0       2012    2018            N        Y                  Y       2012
0       2012    2018            N        Y                  Y       2012
0       2010    2018            Y        Y                  Y       2010
0       2004    2018            N        Y                  Y       2004

  DRAFT_ROUND DRAFT_NUMBER
0           1            1
0           1            1
0           1            9
0           1            3
0           2           33
0           1            1

[6 rows x 30 columns]
203507
   PERSON_ID FIRST_NAME      LAST_NAME     DISPLAY_FIRST_LAST  \
0     203507    Giannis  Antetokounmpo  Giannis Antetokounmpo

  DISPLAY_LAST_COMMA_FIRST   DISPLAY_FI_LAST            BIRTHDATE  SCHOOL  \
0   Antetokounmpo, Giannis  G. Antetokounmpo  1994-12-06T00:00:00  Greece

  COUNTRY LAST_AFFILIATION  ...  TEAM_CITY             PLAYERCODE  FROM_YEAR  \
0  Greece    Greece/Greece  ...  Milwaukee  giannis_antetokounmpo       2013

  TO_YEAR DLEAGUE_FLAG NBA_FLAG  GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND  \
0    2018            N        Y                  Y       2013           1

  DRAFT_NUMBER
0           15

[1 rows x 30 columns]
   PERSON_ID FIRST_NAME      LAST_NAME     DISPLAY_FIRST_LAST  \
0     203952     Andrew        Wiggins         Andrew Wiggins
0     203076    Anthony          Davis          Anthony Davis
0     203083      Andre       Drummond         Andre Drummond
0     203078    Bradley           Beal           Bradley Beal
0     202355     Hassan      Whiteside       Hassan Whiteside
0       2730     Dwight         Howard          Dwight Howard
0     203507    Giannis  Antetokounmpo  Giannis Antetokounmpo

  DISPLAY_LAST_COMMA_FIRST   DISPLAY_FI_LAST            BIRTHDATE  \
0          Wiggins, Andrew        A. Wiggins  1995-02-23T00:00:00
0           Davis, Anthony          A. Davis  1993-03-11T00:00:00
0          Drummond, Andre       A. Drummond  1993-08-10T00:00:00
0            Beal, Bradley           B. Beal  1993-06-28T00:00:00
0        Whiteside, Hassan      H. Whiteside  1989-06-13T00:00:00
0           Howard, Dwight         D. Howard  1985-12-08T00:00:00
0   Antetokounmpo, Giannis  G. Antetokounmpo  1994-12-06T00:00:00

                              SCHOOL COUNTRY  \
0                             Kansas  Canada
0                           Kentucky     USA
0                        Connecticut     USA
0                            Florida     USA
0                           Marshall     USA
0  SW Atlanta Christian Academy (GA)     USA
0                             Greece  Greece

                        LAST_AFFILIATION  ...    TEAM_CITY  \
0                          Kansas/Canada  ...    Minnesota
0                           Kentucky/USA  ...  New Orleans
0                        Connecticut/USA  ...      Detroit
0                            Florida/USA  ...   Washington
0                        MarshallUSA/USA  ...        Miami
0  SW Atlanta Christian Academy (GA)/USA  ...   Washington
0                          Greece/Greece  ...    Milwaukee

              PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  \
0         andrew_wiggins       2014    2018            N        Y
0          anthony_davis       2012    2018            N        Y
0         andre_drummond       2012    2018            N        Y
0           bradley_beal       2012    2018            N        Y
0       hassan_whiteside       2010    2018            Y        Y
0          dwight_howard       2004    2018            N        Y
0  giannis_antetokounmpo       2013    2018            N        Y

   GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0                  Y       2014           1            1
0                  Y       2012           1            1
0                  Y       2012           1            9
0                  Y       2012           1            3
0                  Y       2010           2           33
0                  Y       2004           1            1
0                  Y       2013           1           15

[7 rows x 30 columns]
203500
   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
0     203500     Steven     Adams       Steven Adams            Adams, Steven

  DISPLAY_FI_LAST            BIRTHDATE      SCHOOL      COUNTRY  \
0        S. Adams  1993-07-20T00:00:00  Pittsburgh  New Zealand

         LAST_AFFILIATION  ...      TEAM_CITY    PLAYERCODE  FROM_YEAR  \
0  Pittsburgh/New Zealand  ...  Oklahoma City  steven_adams       2013

  TO_YEAR DLEAGUE_FLAG NBA_FLAG  GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND  \
0    2018            N        Y                  Y       2013           1

  DRAFT_NUMBER
0           12

[1 rows x 30 columns]
   PERSON_ID FIRST_NAME      LAST_NAME     DISPLAY_FIRST_LAST  \
0     203952     Andrew        Wiggins         Andrew Wiggins
0     203076    Anthony          Davis          Anthony Davis
0     203083      Andre       Drummond         Andre Drummond
0     203078    Bradley           Beal           Bradley Beal
0     202355     Hassan      Whiteside       Hassan Whiteside
0       2730     Dwight         Howard          Dwight Howard
0     203507    Giannis  Antetokounmpo  Giannis Antetokounmpo
0     203500     Steven          Adams           Steven Adams

  DISPLAY_LAST_COMMA_FIRST   DISPLAY_FI_LAST            BIRTHDATE  \
0          Wiggins, Andrew        A. Wiggins  1995-02-23T00:00:00
0           Davis, Anthony          A. Davis  1993-03-11T00:00:00
0          Drummond, Andre       A. Drummond  1993-08-10T00:00:00
0            Beal, Bradley           B. Beal  1993-06-28T00:00:00
0        Whiteside, Hassan      H. Whiteside  1989-06-13T00:00:00
0           Howard, Dwight         D. Howard  1985-12-08T00:00:00
0   Antetokounmpo, Giannis  G. Antetokounmpo  1994-12-06T00:00:00
0            Adams, Steven          S. Adams  1993-07-20T00:00:00

                              SCHOOL      COUNTRY  \
0                             Kansas       Canada
0                           Kentucky          USA
0                        Connecticut          USA
0                            Florida          USA
0                           Marshall          USA
0  SW Atlanta Christian Academy (GA)          USA
0                             Greece       Greece
0                         Pittsburgh  New Zealand

                        LAST_AFFILIATION  ...      TEAM_CITY  \
0                          Kansas/Canada  ...      Minnesota
0                           Kentucky/USA  ...    New Orleans
0                        Connecticut/USA  ...        Detroit
0                            Florida/USA  ...     Washington
0                        MarshallUSA/USA  ...          Miami
0  SW Atlanta Christian Academy (GA)/USA  ...     Washington
0                          Greece/Greece  ...      Milwaukee
0                 Pittsburgh/New Zealand  ...  Oklahoma City

              PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  \
0         andrew_wiggins       2014    2018            N        Y
0          anthony_davis       2012    2018            N        Y
0         andre_drummond       2012    2018            N        Y
0           bradley_beal       2012    2018            N        Y
0       hassan_whiteside       2010    2018            Y        Y
0          dwight_howard       2004    2018            N        Y
0  giannis_antetokounmpo       2013    2018            N        Y
0           steven_adams       2013    2018            N        Y

   GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0                  Y       2014           1            1
0                  Y       2012           1            1
0                  Y       2012           1            9
0                  Y       2012           1            3
0                  Y       2010           2           33
0                  Y       2004           1            1
0                  Y       2013           1           15
0                  Y       2013           1           12

[8 rows x 30 columns]
201567

   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
0     201567      Kevin      Love         Kevin Love              Love, Kevin

  DISPLAY_FI_LAST            BIRTHDATE SCHOOL COUNTRY LAST_AFFILIATION  ...  \
0         K. Love  1988-09-07T00:00:00   UCLA     USA         UCLA/USA  ...

   TEAM_CITY  PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  \
0  Cleveland  kevin_love       2008    2018            N        Y

   GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0                  Y       2008           1            5

[1 rows x 30 columns]
   PERSON_ID FIRST_NAME      LAST_NAME     DISPLAY_FIRST_LAST  \
0     203952     Andrew        Wiggins         Andrew Wiggins
0     203076    Anthony          Davis          Anthony Davis
0     203083      Andre       Drummond         Andre Drummond
0     203078    Bradley           Beal           Bradley Beal
0     202355     Hassan      Whiteside       Hassan Whiteside
0       2730     Dwight         Howard          Dwight Howard
0     203507    Giannis  Antetokounmpo  Giannis Antetokounmpo
0     203500     Steven          Adams           Steven Adams
0     201567      Kevin           Love             Kevin Love

  DISPLAY_LAST_COMMA_FIRST   DISPLAY_FI_LAST            BIRTHDATE  \
0          Wiggins, Andrew        A. Wiggins  1995-02-23T00:00:00
0           Davis, Anthony          A. Davis  1993-03-11T00:00:00
0          Drummond, Andre       A. Drummond  1993-08-10T00:00:00
0            Beal, Bradley           B. Beal  1993-06-28T00:00:00
0        Whiteside, Hassan      H. Whiteside  1989-06-13T00:00:00
0           Howard, Dwight         D. Howard  1985-12-08T00:00:00
0   Antetokounmpo, Giannis  G. Antetokounmpo  1994-12-06T00:00:00
0            Adams, Steven          S. Adams  1993-07-20T00:00:00
0              Love, Kevin           K. Love  1988-09-07T00:00:00

                              SCHOOL      COUNTRY  \
0                             Kansas       Canada
0                           Kentucky          USA
0                        Connecticut          USA
0                            Florida          USA
0                           Marshall          USA
0  SW Atlanta Christian Academy (GA)          USA
0                             Greece       Greece
0                         Pittsburgh  New Zealand
0                               UCLA          USA

                        LAST_AFFILIATION  ...      TEAM_CITY  \
0                          Kansas/Canada  ...      Minnesota
0                           Kentucky/USA  ...    New Orleans
0                        Connecticut/USA  ...        Detroit
0                            Florida/USA  ...     Washington
0                        MarshallUSA/USA  ...          Miami
0  SW Atlanta Christian Academy (GA)/USA  ...     Washington
0                          Greece/Greece  ...      Milwaukee
0                 Pittsburgh/New Zealand  ...  Oklahoma City
0                               UCLA/USA  ...      Cleveland

              PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  \
0         andrew_wiggins       2014    2018            N        Y
0          anthony_davis       2012    2018            N        Y
0         andre_drummond       2012    2018            N        Y
0           bradley_beal       2012    2018            N        Y
0       hassan_whiteside       2010    2018            Y        Y
0          dwight_howard       2004    2018            N        Y
0  giannis_antetokounmpo       2013    2018            N        Y
0           steven_adams       2013    2018            N        Y
0             kevin_love       2008    2018            N        Y

   GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0                  Y       2014           1            1
0                  Y       2012           1            1
0                  Y       2012           1            9
0                  Y       2012           1            3
0                  Y       2010           2           33
0                  Y       2004           1            1
0                  Y       2013           1           15
0                  Y       2013           1           12
0                  Y       2008           1            5

[9 rows x 30 columns]
201188
   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
0     201188       Marc     Gasol         Marc Gasol              Gasol, Marc

  DISPLAY_FI_LAST            BIRTHDATE            SCHOOL COUNTRY  \
0        M. Gasol  1985-01-29T00:00:00  Barcelona, Spain   Spain

     LAST_AFFILIATION  ... TEAM_CITY  PLAYERCODE  FROM_YEAR TO_YEAR  \
0  FC Barcelona/Spain  ...   Toronto  marc_gasol       2008    2018

  DLEAGUE_FLAG NBA_FLAG  GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0            N        Y                  Y       2007           2           48

[1 rows x 30 columns]
   PERSON_ID FIRST_NAME      LAST_NAME     DISPLAY_FIRST_LAST  \
0     203952     Andrew        Wiggins         Andrew Wiggins
0     203076    Anthony          Davis          Anthony Davis
0     203083      Andre       Drummond         Andre Drummond
0     203078    Bradley           Beal           Bradley Beal
0     202355     Hassan      Whiteside       Hassan Whiteside
0       2730     Dwight         Howard          Dwight Howard
0     203507    Giannis  Antetokounmpo  Giannis Antetokounmpo
0     203500     Steven          Adams           Steven Adams
0     201567      Kevin           Love             Kevin Love
0     201188       Marc          Gasol             Marc Gasol

  DISPLAY_LAST_COMMA_FIRST   DISPLAY_FI_LAST            BIRTHDATE  \
0          Wiggins, Andrew        A. Wiggins  1995-02-23T00:00:00
0           Davis, Anthony          A. Davis  1993-03-11T00:00:00
0          Drummond, Andre       A. Drummond  1993-08-10T00:00:00
0            Beal, Bradley           B. Beal  1993-06-28T00:00:00
0        Whiteside, Hassan      H. Whiteside  1989-06-13T00:00:00
0           Howard, Dwight         D. Howard  1985-12-08T00:00:00
0   Antetokounmpo, Giannis  G. Antetokounmpo  1994-12-06T00:00:00
0            Adams, Steven          S. Adams  1993-07-20T00:00:00
0              Love, Kevin           K. Love  1988-09-07T00:00:00
0              Gasol, Marc          M. Gasol  1985-01-29T00:00:00

                              SCHOOL      COUNTRY  \
0                             Kansas       Canada
0                           Kentucky          USA
0                        Connecticut          USA
0                            Florida          USA
0                           Marshall          USA
0  SW Atlanta Christian Academy (GA)          USA
0                             Greece       Greece
0                         Pittsburgh  New Zealand
0                               UCLA          USA
0                   Barcelona, Spain        Spain

                        LAST_AFFILIATION  ...      TEAM_CITY  \
0                          Kansas/Canada  ...      Minnesota
0                           Kentucky/USA  ...    New Orleans
0                        Connecticut/USA  ...        Detroit
0                            Florida/USA  ...     Washington
0                        MarshallUSA/USA  ...          Miami
0  SW Atlanta Christian Academy (GA)/USA  ...     Washington
0                          Greece/Greece  ...      Milwaukee
0                 Pittsburgh/New Zealand  ...  Oklahoma City
0                               UCLA/USA  ...      Cleveland
0                     FC Barcelona/Spain  ...        Toronto

              PLAYERCODE  FROM_YEAR TO_YEAR DLEAGUE_FLAG NBA_FLAG  \
0         andrew_wiggins       2014    2018            N        Y
0          anthony_davis       2012    2018            N        Y
0         andre_drummond       2012    2018            N        Y
0           bradley_beal       2012    2018            N        Y
0       hassan_whiteside       2010    2018            Y        Y
0          dwight_howard       2004    2018            N        Y
0  giannis_antetokounmpo       2013    2018            N        Y
0           steven_adams       2013    2018            N        Y
0             kevin_love       2008    2018            N        Y
0             marc_gasol       2008    2018            N        Y

   GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND DRAFT_NUMBER
0                  Y       2014           1            1
0                  Y       2012           1            1
0                  Y       2012           1            9
0                  Y       2012           1            3
0                  Y       2010           2           33
0                  Y       2004           1            1
0                  Y       2013           1           15
0                  Y       2013           1           12
0                  Y       2008           1            5
0                  Y       2007           2           48

[10 rows x 30 columns]

In [39]:
player_info

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,BIRTHDATE,SCHOOL,COUNTRY,LAST_AFFILIATION,...,TEAM_CITY,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,203952,Andrew,Wiggins,Andrew Wiggins,"Wiggins, Andrew",A. Wiggins,1995-02-23T00:00:00,Kansas,Canada,Kansas/Canada,...,Minnesota,andrew_wiggins,2014,2018,N,Y,Y,2014,1,1
0,203076,Anthony,Davis,Anthony Davis,"Davis, Anthony",A. Davis,1993-03-11T00:00:00,Kentucky,USA,Kentucky/USA,...,New Orleans,anthony_davis,2012,2018,N,Y,Y,2012,1,1
0,203083,Andre,Drummond,Andre Drummond,"Drummond, Andre",A. Drummond,1993-08-10T00:00:00,Connecticut,USA,Connecticut/USA,...,Detroit,andre_drummond,2012,2018,N,Y,Y,2012,1,9
0,203078,Bradley,Beal,Bradley Beal,"Beal, Bradley",B. Beal,1993-06-28T00:00:00,Florida,USA,Florida/USA,...,Washington,bradley_beal,2012,2018,N,Y,Y,2012,1,3
0,202355,Hassan,Whiteside,Hassan Whiteside,"Whiteside, Hassan",H. Whiteside,1989-06-13T00:00:00,Marshall,USA,MarshallUSA/USA,...,Miami,hassan_whiteside,2010,2018,Y,Y,Y,2010,2,33
0,2730,Dwight,Howard,Dwight Howard,"Howard, Dwight",D. Howard,1985-12-08T00:00:00,SW Atlanta Christian Academy (GA),USA,SW Atlanta Christian Academy (GA)/USA,...,Washington,dwight_howard,2004,2018,N,Y,Y,2004,1,1
0,203507,Giannis,Antetokounmpo,Giannis Antetokounmpo,"Antetokounmpo, Giannis",G. Antetokounmpo,1994-12-06T00:00:00,Greece,Greece,Greece/Greece,...,Milwaukee,giannis_antetokounmpo,2013,2018,N,Y,Y,2013,1,15
0,203500,Steven,Adams,Steven Adams,"Adams, Steven",S. Adams,1993-07-20T00:00:00,Pittsburgh,New Zealand,Pittsburgh/New Zealand,...,Oklahoma City,steven_adams,2013,2018,N,Y,Y,2013,1,12
0,201567,Kevin,Love,Kevin Love,"Love, Kevin",K. Love,1988-09-07T00:00:00,UCLA,USA,UCLA/USA,...,Cleveland,kevin_love,2008,2018,N,Y,Y,2008,1,5
0,201188,Marc,Gasol,Marc Gasol,"Gasol, Marc",M. Gasol,1985-01-29T00:00:00,"Barcelona, Spain",Spain,FC Barcelona/Spain,...,Toronto,marc_gasol,2008,2018,N,Y,Y,2007,2,48

In [40]:
player_info2 = player_info2.append(player_info)

In [43]:
player_info2 = player_info2.reset_index()

In [46]:
player_info2.drop(columns='index',inplace=True)

In [51]:
player_info3 = player_info2.drop(columns=['FIRST_NAME','LAST_NAME','DISPLAY_LAST_COMMA_FIRST','DISPLAY_FI_LAST','BIRTHDATE','SCHOOL','COUNTRY','LAST_AFFILIATION','PLAYERCODE','FROM_YEAR','TO_YEAR','DLEAGUE_FLAG','NBA_FLAG','GAMES_PLAYED_FLAG','DRAFT_YEAR','DRAFT_ROUND','DRAFT_NUMBER','HEIGHT','WEIGHT','SEASON_EXP','JERSEY','POSITION','ROSTERSTATUS'])

In [54]:
player_info4 = player_info3[['PERSON_ID','DISPLAY_FIRST_LAST','TEAM_ID']]

In [61]:
player_info4.rename(columns={'PERSON_ID':'player_id','DISPLAY_FIRST_LAST':'full_name','TEAM_ID':'team_id'},inplace=True)

/Users/adriaferrer/Library/Python/3.7/lib/python/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [58]:
engine = create_engine('mysql+pymysql://root:paugasol@35.246.57.187/NBA')
df_players_DB = pd.read_sql('players',con=engine)

In [62]:
df_players_DB.head()

,index,player_id,full_name,birthdate,country,height,weight,position,rosterstatus,from_year,to_year,draft_year,draft_round,draft_number
0,0,201939,Stephen Curry,1988-03-14,USA,6.3,190.0,Guard,Active,2009,2018,2009,1,7
1,1,201566,Russell Westbrook,1988-11-12,USA,6.3,200.0,Guard,Active,2008,2018,2008,1,4
2,2,101108,Chris Paul,1985-05-06,USA,6.0,175.0,Guard,Active,2005,2018,2005,1,4
3,3,2544,LeBron James,1984-12-30,USA,6.8,250.0,Forward,Active,2003,2018,2003,1,1
4,4,201933,Blake Griffin,1989-03-16,USA,6.1,250.0,Forward,Active,2009,2018,2009,1,1

In [63]:
player_info4.head()

   player_id         full_name     team_id
0     202718  Chandler Parsons  1610612763
1     203084   Harrison Barnes  1610612758
2     201587     Nicolas Batum  1610612766
3     202695     Kawhi Leonard  1610612761
4     201599    DeAndre Jordan  1610612752

In [68]:
df_players_DB = df_players_DB.merge(player_info4,how='left')

In [72]:
df_players_DB = df_players_DB.reset_index(drop=True).drop(columns='index')

In [73]:
df_players_DB.to_sql('players',con=engine,if_exists='replace', index=True)